*{
padding: 0;
margin: 0;
border: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');



body{

    background-color: #807f7e;
    font-family: 'Roboto', sans-serif;
}

.navbar h1 {

margin-left: 70px;
font-size: 2.5em;
margin-top: 10px;
}

.navbar span {
    margin-left: 135px;
    margin-top: 10px;

}
.navbar {

   
width: 80%;
height: 15vh;

}

ul li {

display: inline-block;
float: right;
padding: 20px;
margin-top:10px;

}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
     background: #383636;
    padding: 10px;
    border-radius: 10px;
    color: white;
    
 
}

ul li a:hover {

background: rgba(51, 51, 50, 0.692);
color: #000000;
transition: 1.5s ease;


}

 .main {     
      width: 80%;
      height: 100vh;
      margin:auto;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.568);
        background-image: url('https://get.pxhere.com/photo/mac-white-product-table-desk-furniture-room-design-interior-design-technology-Material-property-laptop-still-life-photography-photography-glass-Transparent-material-tableware-1604510.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Cookie';
       

           

 }

.main h1 {
  position: absolute;
  top: 400px;
  right:500px;
  font-size: 50px;
  transition: 1.5s;
  

}

.main .btn {

width: 150px;
height:45px;
background:#111010; 
color: white;
font-weight: bold;
position: absolute;
top: 500px;
right: 650px;
border-radius: 20px;


}

.main .btn:hover{


    background: rgba(65, 65, 65, 0.877);
    cursor: pointer;
    color: #000000; 
    transition: 1.5s ease;


}

footer p{
display: inline-block;
margin-top: 20px;
margin-left: 10px;
}
footer a{
    text-decoration: none;
 
background: #000000; 
color: white;
border-radius: 5px;
padding: 5px;
 
    
    }

    footer a:hover{

        background: rgba(73, 73, 73, 0.671) ;
        color: #000000;
        transition: 1.5s ease;
    }

    footer span {


        float: right;
        margin-top: 15px;
    }

    .cell{
        display: none;
    }

    @media (max-width:600px){

   

    .navbar {

        display: none;   
        width: 80%;
        height: 15vh;
        
        }


        .main{

            display: none;
        }


        .main h1 {
            display: none;
        }

        footer{

        position: absolute;
        top: 90vh;
        }

        .cell{
          width: 100%;
          height: 100px;
          background-color: rgba(182, 182, 182, 0.959);
          position:  fixed;
          display: block;
          

        }

        .cell ul{
            
            margin-top: 50px;
           

        }

        .quadrocell .quadro1{

            width: 300px;
            height: 200px;
            border: 1px solid black;
            position: fixed;
            background-image: url('../img/teste.webp');
            background-attachment: fixed;
            
            top: 200px;
            left: 80px;
        }
        
        


    }